IDE's files -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# sublimetext
/*.sublime-project
*.sublime-workspace

# -- OS's files ------------------------------
# Linux
.*
!.jshint
!.gitignore
!.travis.yml
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# others
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
